<div class="row">
	<h1>Book Appintment</h1>
</div>
<div class="row justify-content-around">
	@foreach(var item in Model) {
		<div class="card col-4 mx-1 my-1">
			<img src="~/assets/images/doctors/@item.Img" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">@item.Name</h5>
				<p class="card-text">@item.Specialization</p>
				<a href="/Doctor/CompleteAppointment/@item.Id" class="btn btn-primary">Book Appintment</a>
			</div>
		</div>
	}
</div>