@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["notifation"] != null) {
    <script>
        Swal.fire({
            title: "@TempData["notifation"]",
            icon: "success",
            draggable: true
        });
    </script>
}
<div class="text-center">
    <h1 class="display-4">Welcome To Our Hospital</h1>
    <p>Thank you for choosing our hospital for you'r healthcare needs</p>
    <p>Here, we strive to provide the highest quality medical care to our patients</p>
    <p>Learn more about our services and specialties</p>
    <a href="/Doctor/BookAppointment" class="btn btn-success w-50 mb-4">Get Started</a>
    <p class="mb-6">if you need have eny qustion or need assistance please dont hesitate to contact us</p>
    <h1 class="mb-5">Our Services</h1>
    <div class="row justify-content-around mb-5">
        <div class="col-4">
            <div class="card">
                <img src="~/assets/images/services/download.jpg" class="card-img-top" alt="..." style="height: 275px">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="~/assets/images/services/images.jpg" class="card-img-top" alt="..." style="height: 275px">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="~/assets/images/services/images (1).jpg" class="card-img-top" alt="..." style="height: 275px">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="mb5">About Us</h1>
    <div class="row text-center justify-content-around">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </p>
    </div>
</div>
